@font-face {
    font-family: "Open 24 Display St";
    src: url('/static/Open 24 Display St.ttf');
}

#index{
    position: relative;
    width: 100%;
    top: 1%;
    left: 1%;
    font-family: "Open 24 Display St"; 
    font-size: 32pt;
    text-decoration: none; 
    color: white;
    background-color: transparent;
}