#new-task-area {
    position: absolute; 
    left: 20%; 
    top: 10%; 
    width: 70%;
    color: black;
    padding: 3%;
    background-color: rgb(252, 147, 128);
    border-radius: 10px;
}